.mobile-wrapper {
  width: 428px;
  height: 3300px;
  box-sizing: border-box;
  padding: 32px 32px;
}

@font-face {
  font-family: "Inter", sans-serif;
}
.logo {
  height: 36px;
  width: 198px;
}

.header-mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-row-menu {
  color: rgb(153, 153, 153);
  margin-top: 20px;
}

.graphic-container {
  height: 378px;
  overflow: hidden;
}

.graphic {
  height: 320px;
}

.container-1 {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  box-sizing: border-box;
  width: 428px;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-title {
  font-size: 48px;
  line-height: 58.09px;
  font-weight: 900;
}

.first-over-title {
  color: rgb(255, 57, 152);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.grey-text {
  color: rgb(85, 85, 85);
  font-family: "Inter";
  line-height: 30px;
  font-size: 20px;
}

.container-2 {
  background-image: url(background.svg);
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
  height: 320px;
}

.button {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, purple, orange) border-box;
  border: 5px solid transparent;
  border-radius: 50px;
  padding: 23px 50px;
  width: 188px;
  height: 75px;
  box-sizing: border-box;
}

.button-text {
  text-decoration: none;
  font-weight: 600;
  font-family: "Inter";
  color: rgb(17, 17, 17);
  font-size: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.icon-box {
  width: 155px;
  padding: 10px;
}

.container-3 {
  font-family: "Inter";
  box-sizing: border-box;
  width: 428px;
}

.second-title {
  font-size: 40px;
  line-height: 48.41px;
  font-weight: 500;
}

.people {
  font-size: 0;
  font-family: "Inter";
  display: flex;
  flex-direction: row;
}

.people-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  background-color: rgb(238, 238, 238);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.people-left .people-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.people-color-text {
  color: rgb(255, 129, 57);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.people-bold-text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.people-grey-text {
  font-size: 18px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}

.people-grey-text-2 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}

.eth-img {
  height: 16px;
  width: 13px;
}

.people-individual-box {
  padding: 5px 0;
}

.people-and-text-box {
  display: flex;
  flex-direction: column;
}

.people-and-text-box:nth-child(-n+3) {
  margin-right: 40px;
}

.page-break {
  border-bottom: 2px solid rgb(238, 238, 238);
  width: 500px;
  margin-left: -32px;
}

.graphic-2 {
  height: 467px;
}

.container-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 628px;
}/*# sourceMappingURL=style.css.map */