.main-wrapper {
  box-sizing: border-box;
  padding: 32px;
}

@font-face {
  font-family: "Inter", sans-serif;
}

$menu-color: rgba(153, 153, 153, 1);
$font: "Inter";
$font-color-1: rgba(17, 17, 17, 1);
$font-color-2: rgba(255, 57, 152, 1);
$font-color-3: rgba(85, 85, 85, 1);
$font-color-4: rgba(255, 129, 57, 1);
$font-color-5: rgba(119, 119, 119, 1);
$page-break-color: rgba(238, 238, 238, 1);
.logo {
  height: 36px;
  width: 198px;
}
.header-mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.three-row-menu {
  color: $menu-color;
  margin-top: 20px;
}
.graphic-container {
  height: 378px;
  width: 30%;
}
.graphic {
  height: 320px;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.container-1 {
  display: flex;
  flex-direction: row;
  font-family: $font;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 100px;
}
.content-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.content-text-container-4 {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.first-title {
  font-size: 48px;
  line-height: 58.09px;
  font-weight: 900;
}
.first-title-incontainer-4 {
  font-size: 56px;
  line-height: 58.09px;
  font-weight: 900;
}
.first-over-title {
  color: $font-color-2;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: $font;
}
.grey-text {
  color: $font-color-3;
  font-family: $font;
  line-height: 30px;
  font-size: 20px;
}
.container-2 {
  background-image: url(background.svg);

  white-space: nowrap;
  height: 320px;
  margin: 0 -50px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.text-on-background {
  margin: 0 32px 32px 62px;
  width: 364px;
  white-space: normal;
}

.text-on-background-sub-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: $font;
}
.button {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, purple, orange) border-box;
  border: 5px solid transparent;
  border-radius: 50px;
  padding: 23px 50px;
  width: 188px;
  height: 75px;
  box-sizing: border-box;
}
.button-text {
  text-decoration: none;
  font-weight: 600;
  font-family: $font;
  color: $font-color-1;
  font-size: 20px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 380px;
}
.icon-box {
  width: 155px;
  padding: 10px;
}
.icon-box-1 {
  overflow: hidden;
  white-space: nowrap;
}
.container-3 {
  font-family: $font;
  box-sizing: border-box;
  width: 364px;
  margin-bottom: 32px;
}
.second-title {
  font-size: 40px;
  line-height: 48.41px;
  font-weight: 500;
  font-family: $font;
}
.people {
  font-size: 0;
  font-family: $font;
  display: flex;
  flex-direction: row;
}
.people-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  background-color: rgb(238, 238, 238);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}
.people-left .people-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.people-color-text {
  color: $font-color-4;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.people-bold-text {
  font-size: 20px;
  font-weight: 500;
  color: $font-color-1;
}
.people-grey-text {
  font-size: 18px;
  font-weight: 400;
  color: $font-color-5;
}
.people-grey-text-2 {
  font-size: 12px;
  font-weight: 400;
  color: $font-color-5;
}
.eth-img {
  height: 16px;
  width: 13px;
}
.people-individual-box {
  padding: 5px 0;
}
.people-and-text-box {
  display: flex;
  flex-direction: column;
}
.people-and-text-box:nth-child(-n + 3) {
  margin-right: 40px;
}
.page-break {
  border-bottom: 2px solid $page-break-color;
  width: 500px;
  margin-left: -32px;
}

.graphic-container-2 {
  background-image: url(upsell-footer-image.svg);
  width: 206px;
  height: 467px;
}
.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px 0;
}
li:nth-child(-n + 3) {
  margin-right: 16px;
}
.footer-text-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.footer-text-box {
  display: flex;
  flex-direction: column;
}
.footer-titles {
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  color: $font-color-3;
  margin-bottom: 28px;
}
footer {
  margin-top: 80px;
  div {
    a {
      text-decoration: none;
      font-family: $font;
      font-size: 20px;
      font-weight: 400;
      color: $font-color-3;
    }
  }
}
.footer-copyright {
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  margin-top: 64px;
}
.footer-text {
  padding: 8px 0;
}
i {
  color: rgba(153, 153, 153, 1);
}
@media screen and (min-width: 429px) {
  .main-wrapper {
    padding: 72px 80px;
  }
  .header-mobile-menu {
    display: none;
  }
  .content-text {
    width: 60%;
  }
  .first-title {
    font-size: 96px;
    line-height: 116.18px;
    font-weight: 900;
    margin: 0;
  }
  .graphic-container {
    height: 519px;
    width: 40%;
  }
  .desktop-formatting {
    width: 60%;
    margin: 0 0 24px 0;
  }
  .graphic {
    height: 519px;
  }
  .container-2 {
    background-image: url(background.svg);
    object-fit: cover;
    height: 320px;
    margin: 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  .text-on-background {
    margin: 0 0 32px 62px;
    width: 100%;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    width: 1280px;
  }
  .container-3 {
    width: 100%;
  }
  .container-4 {
    width: 100%;
  }
  .first-title-incontainer-4 {
    font-size: 56px;
    margin: 24px 0;
  }
  .graphic-container-2 {
    margin-right: 450px;
  }
  .content-text-container-4 {
    display: flex;
    flex-direction: column;
    width: 55%;
  }
  .page-break {
    width: 1280px;
    margin: 0;
  }
  .page-break-2 {
    margin-top: -33px;
  }
  .desktop-footer {
    display: flex;
    justify-content: space-between;
    width: 1280px;
  }
  .footer-social-logos {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .footer-copyright-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
  }
  .footer-text-box:nth-child(-n + 3) {
    margin-right: 80px;
  }
  .icon-box-1 {
    overflow: visible;
  }
}
@media screen and (max-width: 428px) {
  .header-desktop-menu {
    display: none;
  }
  .footer-text-box {
    width: 50%;
  }
  .footer-hide {
    display: none;
  }
  .graphic-container-2 {
    margin: 140px 0 0 0;
  }
  .page-break-2 {
    margin-top: -33px;
  }
  .mobile-extra-formatting-2 {
    margin: 0 0 24px 0;
    width: 207px;
  }
  .mobile-extra-formatting-1 {
    margin: 0 0 24px 0;
    width: 274px;
  }
}
.header-desktop-menu {
  margin-bottom: 50px;
  width: 1280px;
}
.nav-desktop-position {
  float: right;
}

.pink-text {
  color: $font-color-2;
  font-family: $font;
  line-height: 30px;
  font-size: 20px;
}
header {
  div {
    nav {
      a {
        text-decoration: none;
      }
    }
  }
}
.nav-small-box:nth-child(-n + 3) {
  margin-right: 18px;
}
